<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
</head>
<body>
    <h2><%msg%></h2>
    <form action="/dologin" method="post">
        <input type="text" name="username" value="whisper"/>
        <input type="password" name="pwd" value="gogogo"/>
        <input type="submit" value="提交"/>
    </form>
</body>
</html>