<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">

    </style>



</head>
<body>
    <h1><%=06_news.title%></h1>

<div class="content">

    <%-06_news.content%>
</div>

</body>
</html>